*,
body,
html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --navbar-color: rgb(102, 194, 255);
    --menu-color: black;
    --white-color: white;
    --project-color: rgb(255, 178, 34);
}

header {
    display: flex;
    justify-content: space-around;
    height: 13vh;
    background-color: var(--navbar-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.logo h1 {
    font-size: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.menu nav ul {
    display: flex;
    list-style-type: none;
}

/* nav  {
    display: flex;
} */

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
}

li a {
    padding: 1em;
    border-radius: 2em;
}

li a:hover {
    background-color: var(--white-color);
    color: var(--menu-color);
    transition: .5s;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    position: relative;
    display: none;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--menu-color);
    border-radius: 50px;
    transition: all .5s;
}

.menu-toggle input {
    position: absolute;
    width: 44px;
    height: 28px;
    opacity: 0;
    left: -8px;
    top: -2px;
    z-index: 2;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -.9px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, -.1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/2.jpg);
    background-size: cover;
    background-position: 0 -100px;
    background-attachment: fixed;
    height: 90vh;
    padding: 2em;
    padding-bottom: 3em;
}

.judul1 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    width: 79%;
    padding-bottom: 3em;
}

.deskripsi1 {
    display: flex;
}

.gambar1 {
    width: 30%;
}

.deskripsi1 img {
    width: 90%;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.dataDiri {
    width: 75%;
}

.dataDiri h3 {
    width: 70%;
    font-size: 30px;
    text-align: center;
    font-family: 'Bitter', serif;
}

.dataDiri ul {
    font-size: 20px;
    padding-left: 4em;
    padding-top: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dataDiri li {
    padding: .4em;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(assets/images/3.jpg);
    background-size: cover;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-color);
}

.judul2 {
    font-size: 20px;
    padding-bottom: 2em;
}

.deskripsi2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2em;
    text-align: center;
}

.deskripsi2 p {
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    padding: 2em 3em;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: var(--white-color);
}

.judul3 {
    font-family: 'Bitter', serif;
    text-align: center;
    font-size: 20px;
    padding-top: .5em;
}

.deskripsi3 {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    font-size: 20px;
}

.gambar3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gambarProject {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 2em;
    padding: .5em;
    background-color: var(--project-color);
    border-radius: 2em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.gambarProject p {
    padding: 2em;
}

.gambarProject img {
    width: 90%;
}

.riwayat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: var(--white-color);
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.gambar4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.gambarRiwayat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gambarRiwayat p {
    padding-top: 1em;
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: 700;
}

.gambarRiwayat img {
    width: 40%;
}

.judul4 {
    font-family: 'Bitter', serif;
    text-align: center;
    font-size: 17px;
}

.riwayat1 {
    padding-bottom: 3em;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 17vh;
    background-color: var(--navbar-color);
}

.hubungi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.judul5 {
    font-family: 'Bitter', serif;
    font-size: 18px;
    padding: .5em;
}

.kontak a {
    padding: .2em .2em;
    font-size: 30px;
    color: var(--menu-color);
}


/* @media screen and (max-width : 750px) {
    .menu {
        width: 50%;
    }
}

@media screen and (max-width: 560px) {
    .logo {
        width: 80%;
    }

     nav ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--navbar-color);
        height: 100vh;
        width: 80%;
        align-items: center ;
        z-index: -1;
        opacity: .9;
        transform: translateX(100%);
    }

    .menu-toggle {
        display: flex;
    }

    .profile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .project {
        height: 120vh;
    }

    .gambar3 {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .gambarProject {
        height: 30%;
    }
} */